name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Replace API Key
        run: |
          sed -i 's|{{FIREBASE_API_KEY}}|${{ secrets.FIREBASE_API_KEY }}|g' index.html
          sed -i 's|{{FIREBASE_API_KEY}}|${{ secrets.FIREBASE_API_KEY }}|g' auth.html
          sed -i 's|{{FIREBASE_API_KEY}}|${{ secrets.FIREBASE_API_KEY }}|g' dashboard.html
          sed -i 's|{{FIREBASE_API_KEY}}|${{ secrets.FIREBASE_API_KEY }}|g' recipe.html
      
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
